/* Estilo global */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    color: #333;
    margin: 0;
    padding: 0;
  }
  header{
    text-align: center;
    background-color: #ff5722;
    color: white;
    padding: 10px;;
  }
  header nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
  }
  article{
    background-color: white;
    padding: 10px;
    width: 400px;
    border-radius: 20px;
    margin: auto;
    margin-top: 30px;
  }
  article img{
    border-radius: 10px;
    margin: 10px;
  }
  footer{
    background-color: black;
    padding: 20px;
    text-align: center;
  }
  main h2{
    text-align: center;
  }

  @media (max-width:700px){
    body{
        background-color: blue;
    }
  }


  @media (min-width:700px){

}

@media (min-width:768px){

}

@media (min-width:992px){

}

@media (min-width:1200px){

}

main h2{
}

@media (max-width:600px) and (orientation:portrait){
    body{
        background-color: blue;
    }

}

header{
    width: 100%;
}
article{
    background-color: white;
    padding: 10px;
    width: 300px;
    border-radius: 20px;
    margin: auto;
    margin-top: 30px;
}
.textoHearder{
    display: none;
}